<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Diagnose admin Login</title>
  <link rel="stylesheet" href="../static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-box">
  <h2>Diagnose admin Login</h2>
  <form action='/diagnosis_admin', method='POST'>
    <div class="user-box">
      <input type="text" name="username" required="">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="">
      <label>Password</label>
    </div>
    <input type="submit" value="Login">
  </form>
</div>
<!-- partial -->
  
</body>
</html>
